@{
    ViewBag.Title = "Accueil";
}
    <body>
        <style>
            body {
                background: url("../../Content/JeSuisMeilleurQueSam.jpg") no-repeat center center fixed;
            }
        </style>


        <div class="jumbotron">
            <h1>Formatif 2B</h1>
            <p></p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">@ViewBag.Title &raquo;</a></p>
        </div>
    </body>